:root {
  --bg: hsl(0, 0%, 81%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(219, 28%, 14%);
  --gray: hsl(217, 19%, 35%);
  --violet: hsl(263, 55%, 52%);
  --slate: hsl(219, 19%, 35%);
  --black: hsl(0, 0%, 7%);
  --radius: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--bg);
  color: var(--black);
  background: var(--bg);
  font-size: 13px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 48px 18px;
}

.grid-container {
  width: 1200px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
}

.card {
  border-radius: var(--radius);
  padding: 26px 28px;
  box-shadow: var(--shadow);
  background: var(--white);
  font-weight: 500;
  z-index: 100;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 13px;
  margin: 0;
  font-weight: 500;
  opacity: 0.9;
}
.role {
  margin: 2px 0 0 0;
  font-size: 11px;
  opacity: 0.55;
}

.title {
  margin: 0 0 14px 0;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 500;
}

.text {
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
  opacity: 0.75;
}

.card-daniel {
  grid-area: daniel;
  background: var(--violet);
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.bg-quotation {
  position: absolute;
  top: 0;
  right: 60px;
  opacity: 0.7;
  z-index: -1;
}

.card-jonathan {
  grid-area: jonathan;
  background: var(--slate);
  color: #fff;
}

.card-kira {
  grid-area: kira;
  background: var(--white);
  color: var(--gray);
}

.card-jeanette {
  grid-area: jeanette;
  background: var(--white);
  color: var(--gray);
}

.card-patrick {
  grid-area: patrick;
  background: var(--dark);
  color: #fff;
}

#snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  top: -10px;
  color: white;
  user-select: none;
  will-change: transform;
}

.attribution {
  text-align: center;
  color: var(--white);
}
.attribution a {
  text-decoration: none;
  color: var(--violet);
}

/* MEDIA */

@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }
  .grid-container {
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "daniel"
      "jonathan"
      "jeanette"
      "patrick"
      "kira";
  }
  .card--daniel::after {
    display: none;
  }

  .card {
    padding: 22px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    width: 350px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "daniel"
      "jonathan"
      "jeanette"
      "patrick"
      "kira";
  }
  .card--daniel::after {
    display: none;
  }
}
